{% extends 'base.html' %}
{% block main %}
<div class="d-flex justify-content-center">
    <div class="box">
        <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>E-Mail</th>
        </tr>
        {% for user in users %}
        {% if loop.index % 2 == 0 %}
        <tr class="even_row">
            {% else %}
        <tr class="odd_row">
            {% endif %}
            <td>{{ user.id }}</td>
            <td>{{ user.student_id }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}

        </table>
        <br/>
        <button type="button" class="button" onclick=simple_action("{{ url_for('users_signout') }}")>Sign Out</button>
    </div>
</div>

<script type="text/javascript">
    function simple_action(target) {
        window.location = target
    }
</script>
{% endblock %}