{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <h1>Pixels Analysis</h1>
    <h3>Created by <a href="www.google.com">Vincent Dufour</a>.<br>Original app by <a href="www.google.com">Toris Nelson</a>.</h3>

    <br>
    <br>
    <br>
    <div class="uploadButton">
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>


    <div class="uploadButton">
        <input class="btn btn-primary" type="upload" value="Upload">
    </div>

{% endblock %}
